<!-- <html>
    <head>
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    </head>
    <body>
        <a-scene shadow="autoUpdate: true">
            <a-assets>
                <a-asset-item
                    id="house"
                    src='/house.glb'
                ></a-asset-item>
            </a-assets>
            <a-entity gltf-model="#house" shadow="cast: true; receive: true">
            </a-entity>
            <a-entity light="color: #e3e1d2;type: ambient; angle: 75; intensity: 0.65" position="2.81195 2.12972 0.1144"></a-entity>
            <a-entity light="color: #e3e1d2;castShadow: true; type: directional; intensity: 0.9;" position="2.81195 2.12972 0.1144"></a-entity>
            <a-entity light="color: #e3e1d2;castShadow: true; type: point; intensity: 0.3;" position="2.81195 2.12972 0.1144"></a-entity>
            <a-entity light="color: #e3e1d2;type: point; castShadow: true; intensity:  2.5;"  position="-8.67 5.712-0.267"></a-entity>
            <a-entity light="color: #e3e1d2; intensity: 0.2; type: point;" position="-9.951 4.403 -25.740"></a-entity>
        </a-scene>
    </body>
</html> -->


<html>
    <head>
        <title>My A-Frame Scene</title>
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-gltf-part-component/dist/aframe-gltf-part-component.min.js"></script>
    </head>

    <body>
        <script>
AFRAME.registerComponent('floor', {
    init: function() {
        var batpos=document.querySelector('#floot');
        var pos=batpos.getAttribute('position');
        pos.y=pos.y+0.001;
        batpos.setAttribute('position',pos);
        batpos.addEventListener('click', event => {
            let position = {
                        x: event.detail.intersection.point.x,
                        y: 0.1,
                        z: event.detail.intersection.point.z
                    };
            console.log(position);
        });

    }
});
        </script>
        <a-scene shadow="autoUpdate: true">
            <a-assets>
                <a-asset-item id="house" src="/house.gltf"></a-asset-item>
                <a-asset-item id="houseg" src='/house.glb'></a-asset-item>
            </a-assets>
            <a-entity id="floot" gltf-part="src: #house; part:Living-Floor" floor></a-entity>
            <!-- <a-entity gltf-model="#houseg" shadow="cast: true; receive: true"></a-entity> -->
            <a-entity light="color: #e3e1d2;type: ambient; angle: 75; intensity: 0.65" position="2.81195 2.12972 0.1144"></a-entity>
            <a-entity light="color: #e3e1d2;castShadow: true; type: directional; intensity: 0.9;" position="2.81195 2.12972 0.1144"></a-entity>
            <a-entity light="color: #e3e1d2;castShadow: true; type: point; intensity: 0.3;" position="2.81195 2.12972 0.1144"></a-entity>
            <a-entity light="color: #e3e1d2;type: point; castShadow: true; intensity:  2.5;"  position="-8.67 5.712-0.267"></a-entity>
            <a-entity light="color: #e3e1d2; intensity: 0.2; type: point;" position="-9.951 4.403 -25.740"></a-entity>

            <a-entity id='cameraWrappers1' position="0 0 0" rotation="0 0 0">
                <a-camera rotation-reader position="0 1.6 0" id="cameraPositions1">
                    <!-- <a-entity progressive-controls></a-entity> -->
                    <a-cursor id="cam2cursor" color="#f000f0" material="" raycaster="" cursor="" geometry="" position="0 0 -1" scale="1.5 1.5 1.5"></a-cursor>
                </a-camera>
            </a-entity>
        </a-scene>
    </body>
</html>
