<html>
    <head>
        <title>My A-Frame Scene</title>
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-gltf-part-component/dist/aframe-gltf-part-component.min.js"></script>
    </head>

    <body>
        <a-scene>
            <a-assets>
                <a-asset-item id="house" src="House2/house.gltf"></a-asset-item>
            </a-assets>

            <a-entity gltf-part="src: #house; part: Object002"></a-entity>
            <!-- <a-entity gltf-part="src: #house; part:Bedroom-roof"></a-entity>
            <a-entity gltf-part="src: #house; part:Bedroom-floor"></a-entity> -->
            <a-entity gltf-part="src: #house; part:External-walls"></a-entity>
            <a-entity
                gltf-part="src: #house; part:Garage-Intern-Wall"
            ></a-entity>
            <a-entity gltf-part="src: #house; part:Garage-Roof"></a-entity>
            <a-entity gltf-part="src: #house; part:Smart-Thermostat"></a-entity>
            <a-entity gltf-part="src: #house; part:Window"></a-entity>
            <a-entity gltf-part="src: #house; part:Stone-Floor"></a-entity>
            <a-entity gltf-part="src: #house; part:HVAC"></a-entity>
            <a-entity gltf-part="src: #house; part:Spots-Garage"></a-entity>
            <a-entity gltf-part="src: #house; part:power-socket"></a-entity>
            <a-entity gltf-part="src: #house; part:Object002"></a-entity>
            <a-entity gltf-part="src: #house; part:LED-Light"></a-entity>
            <a-entity gltf-part="src: #house; part:Sink"></a-entity>
            <a-entity gltf-part="src: #house; part:Concrete"></a-entity>
            <a-entity gltf-part="src: #house; part:Curves"></a-entity>
            <a-entity gltf-part="src: #house; part:Partition"></a-entity>
            <a-entity gltf-part="src: #house; part:Grass"></a-entity>
            <a-entity gltf-part="src: #house; part:Rock"></a-entity>
            <a-entity gltf-part="src: #house; part:bathroom-sink-1"></a-entity>
            <a-entity gltf-part="src: #house; part:switch-006"></a-entity>
            <a-entity gltf-part="src: #house; part:Bathroom-Floor"></a-entity>
            <a-entity gltf-part="src: #house; part:Bathroom-Walls"></a-entity>
            <a-entity gltf-part="src: #house; part:Bathroom-Roof"></a-entity>
            <a-entity gltf-part="src: #house; part:Shower-box"></a-entity>
            <a-entity gltf-part="src: #house; part:Cylinder001"></a-entity>
            <a-entity gltf-part="src: #house; part:Towel"></a-entity>
            <a-entity gltf-part="src: #house; part:Bath-Window"></a-entity>
            <a-entity gltf-part="src: #house; part:Another-light002"></a-entity>
            <a-entity gltf-part="src: #house; part:Another-light"></a-entity>
            <a-entity gltf-part="src: #house; part:Diner-Chair-005"></a-entity>
            <a-entity
                gltf-part="src: #house; part:CasementWindow001-Glass"
            ></a-entity>
            <a-entity
                gltf-part="src: #house; part:CasementWindow001"
            ></a-entity>
            <a-entity gltf-part="src: #house; part:Line012"></a-entity>
            <a-entity gltf-part="src: #house; part:switch-005"></a-entity>
            <a-entity gltf-part="src: #house; part:Carpet001"></a-entity>
            <a-entity gltf-part="src: #house; part:Carpet002"></a-entity>
            <a-entity gltf-part="src: #house; part:Line009"></a-entity>
            <a-entity gltf-part="src: #house; part:PivotDoor002"></a-entity>
            <a-entity gltf-part="src: #house; part:Bedroom-floor"></a-entity>
            <a-entity gltf-part="src: #house; part:Bedroom-roof"></a-entity>
            <a-entity gltf-part="src: #house; part:Mirror"></a-entity>
            <a-entity gltf-part="src: #house; part:Paint003"></a-entity>
            <a-entity gltf-part="src: #house; part:Curtain"></a-entity>
            <a-entity gltf-part="src: #house; part:obj-043"></a-entity>
            <a-entity gltf-part="src: #house; part:ChamferBox004"></a-entity>
            <a-entity gltf-part="src: #house; part:ChamferCyl02"></a-entity>
            <a-entity gltf-part="src: #house; part:ChamferCyl014"></a-entity>
            <a-entity gltf-part="src: #house; part:ChamferBox03"></a-entity>
            <a-entity gltf-part="src: #house; part:Bed"></a-entity>
            <a-entity gltf-part="src: #house; part:ChamferBox02"></a-entity>
            <a-entity gltf-part="src: #house; part:Perfume"></a-entity>
            <a-entity gltf-part="src: #house; part:Induction-Cooking"></a-entity>
            <a-entity gltf-part="src: #house; part:Kitchen-Celling"></a-entity>
            <a-entity gltf-part="src: #house; part:Kitchen-Floor"></a-entity>
            <a-entity gltf-part="src: #house; part:Jamb"></a-entity>
            <a-entity gltf-part="src: #house; part:Kitchen-Cabinet"></a-entity>
            <a-entity gltf-part="src: #house; part:Box031"></a-entity>
            <a-entity gltf-part="src: #house; part:Box040"></a-entity>
            <a-entity gltf-part="src: #house; part:Box041"></a-entity>
            <a-entity gltf-part="src: #house; part:Box047"></a-entity>
            <a-entity gltf-part="src: #house; part:Box048"></a-entity>
            <a-entity gltf-part="src: #house; part:Kitchen-windows"></a-entity>
            <a-entity gltf-part="src: #house; part:Pan2"></a-entity>
            <a-entity gltf-part="src: #house; part:Dishwash"></a-entity>
            <a-entity gltf-part="src: #house; part:Refrigerator"></a-entity>
            <a-entity gltf-part="src: #house; part:Fruits"></a-entity>
            <a-entity gltf-part="src: #house; part:Tube003"></a-entity>
            <a-entity gltf-part="src: #house; part:Tube005"></a-entity>
            <a-entity gltf-part="src: #house; part:Tube004"></a-entity>
            <a-entity gltf-part="src: #house; part:PivotDoor004"></a-entity>
            <a-entity gltf-part="src: #house; part:PAN1"></a-entity>
            <a-entity gltf-part="src: #house; part:Living-Floor"></a-entity>
            <a-entity gltf-part="src: #house; part:PivotDoor001"></a-entity>
            <a-entity gltf-part="src: #house; part:PivotDoor005"></a-entity>
            <a-entity gltf-part="src: #house; part:Carpet"></a-entity>
            <a-entity gltf-part="src: #house; part:Living-Roof"></a-entity>
            <a-entity gltf-part="src: #house; part:Tv-screen"></a-entity>
            <!-- <a-entity gltf-part="src: #house; part:iPad-Mini"></a-entity>
            <a-entity gltf-part="src: #house; part:power-socket001"></a-entity>
            <a-entity gltf-part="src: #house; part:power-socket002"></a-entity>
            <a-entity gltf-part="src: #house; part:power-socket003"></a-entity>
            <a-entity gltf-part="src: #house; part:switch-004"></a-entity>
            <a-entity gltf-part="src: #house; part:Paint"></a-entity>
            <a-entity gltf-part="src: #house; part:Light"></a-entity>
            <a-entity gltf-part="src: #house; part:Speaker-1"></a-entity>
            <a-entity gltf-part="src: #house; part:Stereo"></a-entity>
            <a-entity gltf-part="src: #house; part:Speaker-2"></a-entity>
            <a-entity gltf-part="src: #house; part:TV"></a-entity>
            <a-entity gltf-part="src: #house; part:BR-Player"></a-entity>
            <a-entity gltf-part="src: #house; part:Paint-(1)"></a-entity>
            <a-entity gltf-part="src: #house; part:Paint001"></a-entity>
            <a-entity gltf-part="src: #house; part:Coffe-Table"></a-entity>
            <a-entity gltf-part="src: #house; part:Sofa"></a-entity>
            <a-entity gltf-part="src: #house; part:Diner-Chair-3"></a-entity>
            <a-entity gltf-part="src: #house; part:Diner-Chair-4"></a-entity>
            <a-entity gltf-part="src: #house; part:Diner-Chair-1"></a-entity>
            <a-entity gltf-part="src: #house; part:Diner-Chair-2"></a-entity>
            <a-entity gltf-part="src: #house; part:rack"></a-entity>
            <a-entity gltf-part="src: #house; part:Plant"></a-entity>
            <a-entity gltf-part="src: #house; part:Diner-Table"></a-entity>
            <a-entity gltf-part="src: #house; part:Toilet"></a-entity>
            <a-entity gltf-part="src: #house; part:Smart"></a-entity>
            <a-entity gltf-part="src: #house; part:Mugs"></a-entity>
            <a-entity gltf-part="src: #house; part:Exhauster"></a-entity>
            <a-entity gltf-part="src: #house; part:switcher"></a-entity>
            <a-entity gltf-part="src: #house; part:Kitchen-walls"></a-entity>
            <a-entity gltf-part="src: #house; part:molding"></a-entity>
            <a-entity gltf-part="src: #house; part:obj-02"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight002"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight003"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight004"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight005"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight006"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight007"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight008"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight009"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight010"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight011"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight012"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight013"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight014"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight015"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight016"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight017"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight018"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight019"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight020"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight022"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight023"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight024"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight025"></a-entity>
            <a-entity gltf-part="src: #house; part:PhotometricLight033"></a-entity> -->
        </a-scene>
    </body>
</html>
